<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <property name="appenderPatternLayout">%highlight{%d %-5level [%t]: %msg%n%throwable}</property>
    </Properties>
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="${appenderPatternLayout}" />
            <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="ACCEPT"/>
        </Console>
        <Console name="stderr" target="SYSTEM_ERR">
            <PatternLayout pattern="${appenderPatternLayout}" />
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.sinergise.sentinel.byoctool" level="INFO">
            <AppenderRef ref="stdout"/>
        </Logger>
        <Root level="ERROR">
            <AppenderRef ref="stderr"/>
        </Root>
    </Loggers>
</Configuration>
