<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <property name="appenderPatternLayout">%highlight{%d %-5level: %msg%n%throwable}</property>
    </Properties>
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="${appenderPatternLayout}" />
        </Console>
        <Console name="stderr" target="SYSTEM_ERR">
            <PatternLayout pattern="${appenderPatternLayout}" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.sinergise.sentinel.byoctool" level="INFO" additivity="false">
            <AppenderRef ref="stdout"/>
        </Logger>
        <Root level="ERROR">
            <AppenderRef ref="stderr"/>
        </Root>
    </Loggers>
</Configuration>
